Network:
  vpc:
    maxAzs: 2
    natGateways: 0
    ipv6enabled: true
  alb:
    listener:
      certificateArn: "arn:aws:acm:ap-northeast-1:482631629698:certificate/6ba7f53f-b622-4627-b880-955c382245de"
    targetHealthCheck: 
      enabled: true
      interval: 30 # unit: seconds
      path: "/hello"
      timeout: 5 # unit: seconds
      healthyThresholdCount: 5
      unhealthyThresholdCount: 2
    deregistrationDelay: 60 # unit: seconds

Ecs:
  ecrRepositoryName: lab-rest-api
  memoryLimitMiB: 512
  cpu: 256
  container:
    name: RestApiContainer
    environment:
      STAGE: lab
    logGroupName: /ecs/lab-rest-api
  service:
    desiredCount: 2
    minHealthyPercent: 100
    maxHealthyPercent: 200
    circuitBreakerRollback: true
